<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body >
    <header>
        <%- include('../partials/header'); %>
    </header>

    <style >
        .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }
        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        /* Add some padding inside the card container */
        .container {
            padding: 2px 16px;
        }
    </style>

    <div class="container" >
        <main>
        <div >
            <h1>New Post</h1>
            <div style="margin-top: 20px;" >
                <div class="row">
                    
                </div>
            </div>
            
        </div>
        </main>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>